# Written by NagiosServiceGroupExporter from Eonweb Configurator 3.0 on May 29, 2018, 1:59 pm

define servicegroup {
	servicegroup_name	DELL
	alias	ServiceGroup Dell
}

define servicegroup {
	servicegroup_name	SERVICES
	alias	ServiceGroup Specifics
}

define servicegroup {
	servicegroup_name	VMWARE
	alias	ServiceGroup Vmware
}

define servicegroup {
	servicegroup_name	HTTP
	alias	ServiceGroup Http
}

